
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/35b67429c5123dfd/STAGEPLAY.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/3f6cda0dc249dd1e/MAIN.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/4116b4fe9c1cc6e3/GAME.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/55ee49460e06fc94/SHADER.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/a3a0550fae8365d2/TEXTURE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/a5ef6e0a3ca57f46/MESH.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b24a5090844c8271/STAGE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b279130b5a2ea7f1/FRAMEWORK.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/Browse.VC.opendb
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/623706f31f6e524b/LIGHT.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/c3b109f2ff9bc49c/CAMERA.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/1f872ae65d25b172/UTILS.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/912300a294433a8f/COLDET.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b30dfb4a2f74bed7/GAMEMAP.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/42d7251b525e87c2/ENTITYL.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b6b9c8b5eb91a63/ENTITYCONTEXTURE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/9a9ef72f1fe3a41/ENTITYSINTEXTURA.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/1b1c6306930d988e/FBO.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/26e6a973db2ada0b/SCENE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/372f153b72e8c85/ENTITYGAMEOBJECT.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/42226eefcf50a66b/ENTITYLIGHT.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/549c7c3c2d8650fb/RENDERTOTEXTURE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/8b5b05550ba1f12d/ENTITYMESH.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b36fc0f43f5896e6/ENTITY.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/1b1c6306930d988e/FBO.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/26e6a973db2ada0b/SCENE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/372f153b72e8c85/ENTITYGAMEOBJECT.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/42226eefcf50a66b/ENTITYLIGHT.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/549c7c3c2d8650fb/RENDERTOTEXTURE.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/8b5b05550ba1f12d/ENTITYMESH.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b36fc0f43f5896e6/ENTITY.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/5a589792fd3dc29e/MATERIAL.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/c0a53b7525b999dd/PLAYERENTITY.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/1c9bed02a521f42d/ENTITYPLAYER.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/ceea94116c3b3bbd/STAGEPLAY.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/b120b9f0fa69e270/STAGEEDITOR.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/ipch/AutoPCH/660d6ff5edc2bdb2/STAGEMENU.ipch
*.ipch
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/Browse.VC.db
TJE_framework_2020/visualstudio/.vs/visualstudio/v16/.suo
TJE_framework_2020/visualstudio/VS2015/Debug/box.obj
TJE_framework_2020/visualstudio/VS2015/Debug/box_bld.obj
TJE_framework_2020/visualstudio/VS2015/Debug/camera.obj
TJE_framework_2020/visualstudio/VS2015/Debug/coldet.obj
TJE_framework_2020/visualstudio/VS2015/Debug/coldet_bld.obj
TJE_framework_2020/visualstudio/VS2015/Debug/Entity.obj
TJE_framework_2020/visualstudio/VS2015/Debug/EntityEnemy.obj
TJE_framework_2020/visualstudio/VS2015/Debug/EntityGameObject.obj
TJE_framework_2020/visualstudio/VS2015/Debug/EntityLight.obj
TJE_framework_2020/visualstudio/VS2015/Debug/EntityMesh.obj
TJE_framework_2020/visualstudio/VS2015/Debug/EntityPlayer.obj
TJE_framework_2020/visualstudio/VS2015/Debug/fbo.obj
TJE_framework_2020/visualstudio/VS2015/Debug/framework.obj
TJE_framework_2020/visualstudio/VS2015/Debug/game.obj
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/CL.command.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/CL.read.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/CL.write.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/game.lastbuildstate
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/link.command.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/link.read.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/game.tlog/link.write.1.tlog
TJE_framework_2020/visualstudio/VS2015/Debug/GameMap.obj
TJE_framework_2020/visualstudio/VS2015/Debug/impactShoot.obj
TJE_framework_2020/visualstudio/VS2015/Debug/input.obj
TJE_framework_2020/visualstudio/VS2015/Debug/Inventario.obj
TJE_framework_2020/visualstudio/VS2015/Debug/light.obj
TJE_framework_2020/visualstudio/VS2015/Debug/main.obj
TJE_framework_2020/visualstudio/VS2015/Debug/material.obj
TJE_framework_2020/visualstudio/VS2015/Debug/math3d.obj
TJE_framework_2020/visualstudio/VS2015/Debug/mesh.obj
TJE_framework_2020/visualstudio/VS2015/Debug/mytritri.obj
TJE_framework_2020/visualstudio/VS2015/Debug/picopng.obj
TJE_framework_2020/visualstudio/VS2015/Debug/rendertotexture.obj
TJE_framework_2020/visualstudio/VS2015/Debug/Scene.obj
TJE_framework_2020/visualstudio/VS2015/Debug/shader.obj
TJE_framework_2020/visualstudio/VS2015/Debug/Stage.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageEditor.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageLvlSelector.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageMenu.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageMenuInGame.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StagePlay.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageSaveLoad.obj
TJE_framework_2020/visualstudio/VS2015/Debug/StageShop.obj
TJE_framework_2020/visualstudio/VS2015/Debug/sysdep.obj
TJE_framework_2020/visualstudio/VS2015/Debug/textparser.obj
TJE_framework_2020/visualstudio/VS2015/Debug/texture.obj
TJE_framework_2020/visualstudio/VS2015/Debug/tritri.obj
TJE_framework_2020/visualstudio/VS2015/Debug/utils.obj
